<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <span class="h1"><b>Aivizo</b>Online</span>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email"
                   [ngClass]="{'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                   'is-valid': !loginForm.get('email')?.errors && loginForm.get('email')?.touched}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span id="exampleInputPassword1-error" class="input_err_msg" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              Please provide a valid Email
            </span>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password"
                   [ngClass]="{'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                   'is-valid': !loginForm.get('password')?.errors && loginForm.get('password')?.touched}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span class="input_err_msg" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              Please provide a password
            </span>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>

          </div>
          <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!loginForm.valid || login">
              <span *ngIf="!login"><i class="fas fa-sign-in-alt mr-2"></i> Sign In</span>
              <span *ngIf="login"><i class="fas fa-spinner fa-spin"></i> Logging In....</span>
            </button>
          </div>
        </form>


        <p class="mb-1">
          <a routerLink="/">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a routerLink="/auth/register" class="text-center">Create a new account</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
