<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <!--        <span class="h1"><b>Aivizo</b>Online</span>-->
        <img src="assets/logo.jpg" alt="Aivizo Logo" style="height: 70px">
      </div>
      <div class="card-body">
        <h5 class="login-box-msg text-primary">Please Enter your registered Email address</h5>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="E-mail Address" formControlName="token"
                   [ngClass]="{'is-invalid': loginForm.get('token')?.errors && (loginForm.get('token')?.touched || loginForm.get('token')?.dirty),
                   'is-valid': !loginForm.get('token')?.errors && loginForm.get('token')?.touched}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span id="exampleInputPassword1-error" class="input_err_msg" *ngIf="loginForm.get('token')?.errors && (loginForm.get('token')?.touched || loginForm.get('token')?.dirty)">
              Please provide a valid Email
            </span>
          </div>
          <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!loginForm.valid || login">
              <span *ngIf="!login"><i class="fas fa-lock-open mr-2"></i> Continue</span>
              <span *ngIf="login"><i class="fas fa-spinner fa-spin"></i> Verifying....</span>
            </button>
          </div>
        </form>


        <p class="mb-1">
          <a routerLink="/auth" class="text-center">I already have an Account</a>
        </p>
        <p class="mb-0">
          <a routerLink="/auth/register" class="text-center">Create a new account</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
