<div class="hold-transition register-page">
  <div class="row w-100 justify-content-center">
    <div class="col-sm-12 col-md-8 col-xl-5">
      <div class="register-boxx">
        <div class="card card-outline card-primary">
          <div class="card-header text-center">
            <img src="assets/logo.jpg" alt="Aivizo Logo" style="height: 70px">
          </div>
          <div class="card-body">
            <h5 class="login-box-msg text-primary">Register a new membership</h5>

            <form (ngSubmit)="submitSignup()" [formGroup]="signupForm">
              <div class="row">
                <div class="col-sm-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>First Name</label>
                    <input type="text" class="form-control"
                          formControlName="firstname" [ngClass]="{'is-invalid': signupForm.get('firstname')?.errors
                           && (signupForm.get('firstname')?.touched || signupForm.get('firstname')?.dirty),
                   'is-valid': !signupForm.get('firstname')?.errors && signupForm.get('firstname')?.touched}">
                    <span class="input_err_msg"
                          *ngIf="signupForm.get('firstname')?.errors &&
                           (signupForm.get('firstname')?.touched || signupForm.get('firstname')?.dirty)">
                      Name must be filled in
                    </span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Middle Name</label>
                    <input type="text" class="form-control"
                          formControlName="middlename">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control"
                           formControlName="lastname">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Date of birth</label>
                    <div class="input-group date" id="reservationdate" data-target-input="nearest">
                      <input type="date" class="form-control"
                             formControlName="dob" [ngClass]="{'is-invalid': signupForm.get('dob')?.errors
                           && (signupForm.get('dob')?.touched || signupForm.get('dob')?.dirty),
                   'is-valid': !signupForm.get('dob')?.errors && signupForm.get('dob')?.touched}">
                    </div>
                    <span class="input_err_msg"
                                *ngIf="signupForm.get('dob')?.errors &&
                           (signupForm.get('dob')?.touched || signupForm.get('dob')?.dirty)">
                      DOB must be filled in
                    </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Contact Number</label>
                    <ngx-intl-tel-input [cssClass]="'form-control mb-3'"  [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                                        [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                        [selectFirstCountry]="false"  [tooltipField]="TooltipLabel.Name"
                                        [phoneValidation]="true" [separateDialCode]="true"
                                        formControlName="phone" [ngClass]="{'is-invalid': signupForm.get('phone')?.errors
                           && (signupForm.get('phone')?.touched || signupForm.get('phone')?.dirty),
                   'is-valid': !signupForm.get('phone')?.errors && signupForm.get('phone')?.touched}">
                    </ngx-intl-tel-input>
                    <span class="input_err_msg"
                          *ngIf="signupForm.get('phone')?.errors &&
                           (signupForm.get('phone')?.touched)">
                      Contact Number must be filled in
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control"
                           formControlName="email" [ngClass]="{'is-invalid': signupForm.get('email')?.errors
                           && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty),
                   'is-valid': !signupForm.get('email')?.errors && signupForm.get('email')?.touched}">
                    <span *ngIf="signupForm.get('email')?.errors &&
                    (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)">
                      <span class="input_err_msg" *ngIf="signupForm.get('email')?.hasError('required')">
                      Provide a valid email
                    </span>
                    <span class="input_err_msg" *ngIf="signupForm.get('email')?.hasError('isEmailUnique')">
                      Email already exists
                    </span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control"
                           formControlName="password" [ngClass]="{'is-invalid': signupForm.get('password')?.errors
                           && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty),
                   'is-valid': !signupForm.get('password')?.errors && signupForm.get('password')?.touched}">
                    <span class="input_err_msg"
                          *ngIf="signupForm.get('password')?.errors &&
                           (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)">
                      Password cannot be empty
                    </span>
                    <app-password-strenght
                      [passwordToCheck]="signupForm.controls['password'].value"
                      class="text-center">
                    </app-password-strenght>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control"
                           formControlName="confirm_pass" [ngClass]="{'is-invalid': signupForm.get('confirm_pass')?.errors
                           && (signupForm.get('confirm_pass')?.touched || signupForm.get('confirm_pass')?.dirty),
                   'is-valid': !signupForm.get('confirm_pass')?.errors && signupForm.get('confirm_pass')?.touched}">
                    <span class="input_err_msg"
                          *ngIf="signupForm.get('confirm_pass')?.errors &&
                           (signupForm.get('confirm_pass')?.touched || signupForm.get('confirm_pass')?.dirty)">
                      Password do not match
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group d-flex flex-column">
                    <label>Gender</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-primary active">
                        <input type="radio" formControlName="gender" value="Male" autocomplete="off" checked="">
                        <i class="fas fa-male"></i> Male
                      </label>
                      <label class="btn btn-outline-primary">
                        <input type="radio" formControlName="gender" value="Female" autocomplete="off">
                        <i class="fas fa-female"></i> Female
                      </label>
                      <label class="btn btn-outline-primary">
                        <input type="radio" formControlName="gender" value="Other" autocomplete="off">
                        <i class="fas fa-transgender"></i> Other
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group d-flex flex-column">
                    <label>User is a</label>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-outline-info">
                        <input type="radio" formControlName="userType" value="Doctor">
                        <i class="fas fa-user-md"></i> Doctor
                      </label>
                      <label class="btn btn-outline-info">
                        <input type="radio" formControlName="userType" value="Patient">
                        <i class="fas fa-procedures"></i> Patent
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" formControlName="acceptTerms">
                      <label class="form-check-label">By checking this box I acknowledge that I have reviewed the
                        <a target="_blank" routerLink="/TermsOfServices">Terms of Service</a>
                        and agree with it</label>
                      <span class="input_err_msg"
                            *ngIf="signupForm.get('acceptTerms')?.errors">
                      Please accept the Terms of Services.
                    </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="social-auth-links text-center">
                <app-loader *ngIf="rqstSent"></app-loader>
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!signupForm.valid"
                        *ngIf="!rqstSent">
                  <i class="fas fa-user-plus mr-2"></i>
                  Sign up
                </button>
              </div>
            </form>

            <a routerLink="/auth" class="text-center">I already have an Account</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
    </div>
  </div>
</div>
