<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary" *ngIf="canReset">
      <div class="card-header text-center">
        <!--        <span class="h1"><b>Aivizo</b>Online</span>-->
        <img src="assets/logo.jpg" alt="Aivizo Logo" style="height: 70px">
      </div>
      <div class="card-body">
        <h5 class="login-box-msg text-primary">Type and confirm a secure new password for the account</h5>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Enter New Password" formControlName="email"
                   [ngClass]="{'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                   'is-valid': !loginForm.get('email')?.errors && loginForm.get('email')?.touched}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <span id="exampleInputPassword1-error" class="input_err_msg" *ngIf="loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
              Password cannot be empty
            </span>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" formControlName="password"
                   [ngClass]="{'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                   'is-valid': !loginForm.get('password')?.errors && loginForm.get('password')?.touched}">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <span class="input_err_msg" *ngIf="loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
              Password do not match
            </span>
          </div>
          <div class="row mb-3">
            <div class="col-md-12 text-center">
              <app-password-strenght
                [passwordToCheck]="loginForm.controls['email'].value"
                class="text-center">
              </app-password-strenght>
            </div>
          </div>


          <div class="social-auth-links text-center mt-2 mb-3">
            <button type="submit" class="btn btn-block btn-primary" [disabled]="!loginForm.valid || login">
              <span *ngIf="!login"><i class="fas fa-key mr-2"></i> Change Password</span>
              <span *ngIf="login"><i class="fas fa-spinner fa-spin"></i> Updating Password....</span>
            </button>
          </div>
        </form>


        <p class="mb-1">
          <a routerLink="/auth" class="text-center">I already have an Account</a>
        </p>
        <p class="mb-0">
          <a routerLink="/auth/register" class="text-center">Create a new account</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
