<!--
  NavBar Start
-->
<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand">
      <img src="assets/logo.jpg" alt="" height="50px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]='"."' [fragment]="'ourMissionArea'">Our Mission</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Pricing</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--
  NavBar End
-->

<!-- Home Section Starts-->
<section class="home d-flex align-items-center">
  <div class="effects-wrap">
    <i class="fas fa-plus effect effect-1"></i>
    <i class="fas fa-plus effect effect-2"></i>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="home-text">
          <h1>Health care at your convenience!</h1>
          <p>Providing health
            care by the best
            physicians in their
            specialty through
            remote access
          </p>
          <div class="home-button">
            <a href="#" class="btn btn-1">Download App</a>
            <a routerLink="/auth" class="btn btn-2 video-player ml-2" style="border: 1px solid white;">
              Find a Doctor
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="home-img text-center">
          <div class="circle"></div>
          <img src="assets/homepage/img/app-screenshots/1.png" alt="shali app img">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home Section Ends -->


<!-- Our Mission-->
<section class="fun-facts section-padding" id="ourMissionArea">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-6 d-flex align-items-center justify-content-center">
        <div class="fun-fact-img">
          <img src="assets/homepage/img/app-screenshots/2.png" alt="Fun Fact">
        </div>
      </div>
      <div class="col-md-7 col-lg-6">
        <div class="section-title">
          <h2>Our <span>Mission</span></h2>
        </div>
        <div class="fun-fact-text">
          <p>
            Aivizo aims to develop and
            implement breakthrough
            telemedicine technology to provide
            preventative health care globally by
            collaborating with non-profit
            organizations to serve humanity
          </p>
        </div>
        <div class="row">
         <div class="col-md-12">
           <ul class="ourmission">
             <li>Our platform offers US trained
               physicians the opportunity to help
               people in need around the world.</li>
             <li>Our technology enables patient
               care beyond traditional
               telemedicine.</li>
             <li>Our collaboration with non-profit
               organizations allows them to have a
               wider reach globally.</li>
           </ul>
         </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="features section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>Awesome <span>Features</span></h2>
        </div>
      </div>
    </div>
    <div class="d-flex feature-carousel justify-content-around">
        <div class="feature-item">
          <div class="icon">
            <i class="fas fa-user-md"></i>
          </div>
          <h3>Top Specialists</h3>
          <p>US qualified physicians available in many specialties</p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <i class="fas fa-user-clock"></i>
          </div>
          <h3>24x7 Availability</h3>
          <p>24x7 Global access to meet medical service needs</p>
        </div>
        <div class="feature-item">
          <div class="icon">
            <i class="fas fa-check-square"></i>
          </div>
          <h3>Graphics Friendly</h3>
          <p>Intuitive and easy to use platform</p>
        </div>
    </div>
  </div>
</section>


<!-- App Download -->
<!--<section class="app-download section-padding">-->
<!--  <div class="container">-->
<!--    <div class="row justify-content-center">-->
<!--      <div class="col-md-12">-->
<!--        <div class="section-title text-center">-->
<!--          <h2>Download <span>App</span></h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <div class="app-download-item">-->
<!--          <i class="fab fa-google-play"></i>-->
<!--          <h3>Google Play</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.asdf dasd fsadf sdfasdfassad</p>-->
<!--          <button class="btn btn-2 d-inline-flex"><i class="fas fa-download"></i> <span>Download</span></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="app-download-item">-->
<!--          <i class="fab fa-apple"></i>-->
<!--          <h3>Apple Store</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.asdf dasd fsadf sdfasdfassad</p>-->
<!--          <button class="btn btn-2 d-inline-flex"><i class="fas fa-download"></i> <span>Download</span></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-4">-->
<!--        <div class="app-download-item">-->
<!--          <i class="fab fa-windows"></i>-->
<!--          <h3>Windows Store</h3>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.asdf dasd fsadf sdfasdfassad</p>-->
<!--          <button class="btn btn-2 d-inline-flex"><i class="fas fa-download"></i> <span>Download</span></button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->



<!-- Testimonials -->
<!--<section class="testimonial section-padding">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="section-title text-center">-->
<!--          <h2>What our <span>Client Say</span></h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--      <div class="testimonial-carousel owl-carousel d-flex align-content-around">-->
<!--        <div class="testimonial-item">-->
<!--            <div class="testimonial-img">-->
<!--              <img src="assets/homepage/img/testimonial/1.jpg" alt="testemonial img">-->
<!--              <i class="fas fa-quote-right"></i>-->
<!--            </div>-->
<!--            <p class="testimonial-about">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--            </p>-->
<!--            <h3>Ali</h3>-->
<!--            <p class="testimonial-post">-->
<!--              Ui Designer-->
<!--            </p>-->
<!--            <div class="rating">-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="testimonial-item">-->
<!--            <div class="testimonial-img">-->
<!--              <img src="assets/homepage/img/testimonial/1.jpg" alt="testemonial img">-->
<!--              <i class="fas fa-quote-right"></i>-->
<!--            </div>-->
<!--            <p class="testimonial-about">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--            </p>-->
<!--            <h3>Kashif</h3>-->
<!--            <p class="testimonial-post">-->
<!--              Ui Designer-->
<!--            </p>-->
<!--            <div class="rating">-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="testimonial-item">-->
<!--            <div class="testimonial-img">-->
<!--              <img src="assets/homepage/img/testimonial/1.jpg" alt="testemonial img">-->
<!--              <i class="fas fa-quote-right"></i>-->
<!--            </div>-->
<!--            <p class="testimonial-about">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
<!--            </p>-->
<!--            <h3>Ahmed</h3>-->
<!--            <p class="testimonial-post">-->
<!--              Ui Designer-->
<!--            </p>-->
<!--            <div class="rating">-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--              <i class="fas fa-star"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--  </div>-->
<!--</section>-->



<!-- New Section -->
<!--<section class="testimonial section-padding">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="section-title text-center">-->
<!--          <h2>What our <span>Client Say</span></h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->


<!-- New Section -->
<!--<section class="testimonial section-padding">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="section-title text-center">-->
<!--          <h2>What our <span>Client Say</span></h2>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="row">-->

<!--    </div>-->
<!--  </div>-->
<!--</section>-->
