<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Profile Settings</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/doctorArea">Home</a></li>
            <li class="breadcrumb-item active">Profile Settings</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title m-0">Profile Settings</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Speciality</label>
                <input type="text" class="form-control" placeholder="Skin Specialist">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Qualification</label>
                <input type="text" class="form-control" placeholder="M.B.B.S, F.C.P.S">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Availability:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-clock"></i></span>
                  </div>
                  <input type="text" class="form-control float-right" id="reservationtime" #date>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Fees</label>
                <input type="number" class="form-control" placeholder="Fees">
              </div>
            </div>
          </div>

          <div [formGroup]="form">
            <label>Enter Tags, relevant to your profession</label>
            <div class="editor-tag" (click)="focusTagInput()">
              <span class="tag-item" *ngFor="let tag of tags">
                {{tag}}
                <span class="remove-tag" (click)="removeTag(tag)">×</span>
              </span>
              <input
                placeholder="Comma Separated words"
                #tagInput type="text"
                class="input-tag"
                (keyup)="onKeyUp($event)"
                formControlName="tag">
            </div>
          </div>

          <div class="row justify-content-center mt-3">
            <div class="col-md-8">
              <button class="btn btn-primary w-100">
                <i class="fas fa-save mr-2"></i>
                Save Changes
              </button>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <b>Note: </b><i>Please keep your information UpToDate in order to get more patients...</i>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
