<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">All Users</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/adminArea">Home</a></li>
            <li class="breadcrumb-item active">Users</li>
            <li class="breadcrumb-item active">List All User</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row" >
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Registered Users Record</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <app-loader *ngIf="loading"></app-loader>
              <table *ngIf="!loading" id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>DOB</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Email</th>
                  <th>Contact #</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of allUsers">
                  <td>{{ user.first_name }} {{ user.middle_name }} {{ user.last_name }}</td>
                  <td>{{ user.gender }}</td>
                  <td>{{ user.dob }}</td>
                  <td>{{ user.city }}</td>
                  <td>{{ user.state }}</td>
                  <td>{{ user.country }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.phone_number }}</td>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                      <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item">
                          <i class="fas fa-id-card"></i>
                          <span class="ml-2">Profile</span>
                        </a>
                        <a routerLink="../edit/{{user.id}}" class="dropdown-item text-success">
                          <i class="fas fa-edit"></i>
                          <span class="ml-2">Edit</span>
                        </a>
                        <button  class="dropdown-item text-danger" type="button" data-toggle="modal" data-target="#delete_user_modal" (click)="setValue(user.id)">
                          <i class="fas fa-user-times"></i>
                          <span class="ml-2">Delete</span>
                        </button>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger">
                          <i class="fas fa-user-alt-slash"></i>
                          <span class="ml-2">Block</span>
                        </a>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Gender</th>
                  <th>DOB</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Email</th>
                  <th>Contact #</th>
                  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </section>
  <!-- /.content -->
</div>

<div class="modal fade" id="delete_user_modal">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <h4 class="modal-title">
          <i class="fas fa-exclamation-circle"></i>
          Delete User
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-loader *ngIf="proceedDelete"></app-loader>
        <div *ngIf="!proceedDelete">
          <p>Are you sure to proceed deleting this user?</p>
          <i>Once proceeded, this step cannot be undo.</i>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-light" (click)="deleteUser()">
          <i class="fas fa-user-times"></i>
          Continue Delete
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
