<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Find a Doctor</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/patientArea">Home</a></li>
            <li class="breadcrumb-item active">Find a doctor</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header bg-primary">
              <h3 class="card-title m-0">Let's help you in finding a suitable doctor</h3>
            </div>
            <div class="card-body p-0">
              <div class="container">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Enter Problem</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Select Doctor</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#tab-3">
                      <button type="button" class="step-trigger" role="tab" aria-controls="tab-3" id="tab-3-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Schedule Meeting</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#tab-4">
                      <button type="button" class="step-trigger" role="tab" aria-controls="tab-3" id="tab-4-trigger">
                        <span class="bs-stepper-circle">4</span>
                        <span class="bs-stepper-label">Finalization</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="container-fluid">
                        <div class="row justify-content-center">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Describe your issue briefly</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="I'm suffering from insomnia" [(ngModel)]="query" [ngModelOptions]="{standalone: true}">
                            </div>
                          </div>
                          <div class="col-md-8 pt-5">
                            <button class="btn btn-primary w-100" (click)="getDocProfiles() ">
                              Next
                              <i class="fas fa-arrow-right ml-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      <div *ngIf="loading" class="row justify-content-center">
                        <div class="col-md-12 text-center">
                          <app-loader></app-loader>
                        </div>
                      </div>
                      <div *ngIf="!loading" class="row">
                        <div class="col-md-12">
                          <blockquote>
                            <h3><span class="font-weight-bolder">{{doctorsFound}}</span> Doctors Found!</h3>
                            <small class="text-primary"><b><i class="fas fa-search fa-flip-horizontal mr-2"></i></b>{{query}}</small>
                          </blockquote>
                        </div>
                        <div class="col-md-12">
                          <app-doctor-details
                            *ngFor="let doctor of doctorsList"
                            [doctor]="doctor"
                            (doctorID)="selectDoctor($event)">
                          </app-doctor-details>
                        </div>
<!--                        <div *ngFor="">-->
<!--                        </div>-->

                        <div class="row w-100 pt-5 justify-content-center">
                          <div class="col-md-8">
                            <button class="btn btn-outline-primary w-100" (click)="stepBack() ">
                              <i class="fas fa-arrow-left ml-1"></i>
                              Back
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="tab-3" class="content" role="tabpanel" aria-labelledby="tab-3-trigger">
                      <div class="callout callout-primary">
                        <h5>Almost there!</h5>
                        <p>Book yourself in the following available slots</p>
                      </div>
                      <div class="row justify-content-center">
                        <div class="col-md-12 text-center" *ngIf="loading">
                          <app-loader></app-loader>
                        </div>
                        <div class="col-md-12" *ngIf="!loading">
                          <div class="btn-group btn-group-toggle timeSlots d-flex flex-wrap" data-toggle="buttons">
                            <label class="btn bg-white d-flex align-items-center m-3" *ngFor="let slot of timeSlots">
                              <input class="timeSlot" type="radio" name="options" id="option_b1" autocomplete="off" checked="">
                              <i class="fas fa-calendar-check text-primary fontSizeXXLarge mr-2"></i>
                              <span class="d-flex flex-column">
                                <span>{{slot}}</span>
<!--                                <span>14 Sep, 2021</span>-->
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col md-12 mt-2">
                          <div class="form-group">
                            <label>Select Day</label>
                            <select class="custom-select">
                              <option *ngFor="let date of dateSlots" [value]="date">
                                  {{date}}
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>


                      <div class="row w-100 pt-5 justify-content-center">
                        <div class="col-md-6">
                          <button class="btn btn-outline-primary w-100" (click)="stepBack() ">
                            <i class="fas fa-arrow-left ml-1"></i>
                            Back
                          </button>
                        </div>
                        <div class="col-md-6">
                          <button class="btn btn-primary w-100" (click)="stepNext() ">
                            Proceed
                            <i class="fas fa-arrow-right ml-1"></i>
                          </button>
                        </div>
                      </div>


                    </div>
                    <div id="tab-4" class="content" role="tabpanel" aria-labelledby="tab-4-trigger">
                      <div class="info-box shadow">
                        <span class="info-box-icon bg-primary"><i class="far fa-calendar-check"></i></span>
                        <div class="info-box-content">
                          <span class="info-box-number">Just Once Click Away</span>
                          <span class="info-box-text">You're almost done with scheduling a doctor. Click save and proceed to confirm.</span>
                        </div>
                      </div>


                      <div class="card box-shadow-sm my-3 p-3">
                        <label class="font-weight-bold text-accent">Appointment Details</label>
                        <div class="d-flex justify-content-between border-bottom">
                          <p class="my-2">Doctor Name</p>
                          <p class="my-2 text-accent font-size-sm">Prof. Dr. Javed Akram</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                          <p class="my-2">Date and Time</p>
                          <p class="my-2 text-accent font-size-sm">11-Sep-2021 | 10:00 PM</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                          <p class="my-2">Patient name</p>
                          <p class="my-2 text-accent font-size-sm">asdf</p>
                        </div>
                        <div class="d-flex justify-content-between border-bottom">
                          <p class="my-2">Patient phone</p>
                          <p class="my-2 text-accent font-size-sm">+923118547121</p>
                        </div>
                        <div class="d-flex justify-content-between">
                          <p class="my-2">Doctor Fees</p>
                          <p class="my-2 text-success">Rs. 3,000</p>
                        </div>
                      </div>

                      <div class="row w-100 pt-2 justify-content-center">
                        <div class="col-md-8">
                          <app-loader *ngIf="loading"></app-loader>
                          <button *ngIf="!loading" class="btn btn-primary w-100" (click)="saveAppointment()">
                            <i class="fas fa-check-circle ml-1"></i>
                            Finish & Save
                          </button>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Find the most relevant doctor with best available timings
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
