<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Find a Doctor</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/patientArea">Home</a></li>
            <li class="breadcrumb-item active">Find a doctor</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-header bg-primary">
              <h3 class="card-title m-0">Let's help you in finding a suitable doctor</h3>
            </div>
            <div class="card-body p-0">
              <div class="container">
                <div class="bs-stepper">
                  <div class="bs-stepper-header" role="tablist">
                    <!-- your steps here -->
                    <div class="step" data-target="#logins-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Enter Problem</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#information-part">
                      <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Select Doctor</span>
                      </button>
                    </div>
                    <div class="line"></div>
                    <div class="step" data-target="#tab-3">
                      <button type="button" class="step-trigger" role="tab" aria-controls="tab-3" id="tab-3-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Schedule Meeting</span>
                      </button>
                    </div>
                  </div>
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="container-fluid">
                        <div class="row justify-content-center">
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="exampleInputEmail1">Describe your issue briefly</label>
                              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="i'm suffering from insomnia">
                            </div>
                          </div>
                          <div class="col-md-8 pt-5">
                            <button class="btn btn-primary w-100" (click)="stepNext() ">
                              Next
                              <i class="fas fa-arrow-right ml-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                      <div class="row">
                        <div class="col-md-12">
                          adsffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                        </div>

                        <div class="row w-100 pt-5">
                          <div class="col-md-6">
                            <button class="btn btn-outline-primary w-100" (click)="stepBack() ">
                              <i class="fas fa-arrow-left ml-1"></i>
                              Back
                            </button>
                          </div>
                          <div class="col-md-6">
                            <button class="btn btn-primary w-100" (click)="stepNext() ">
                              Next
                              <i class="fas fa-arrow-right ml-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div id="tab-3" class="content" role="tabpanel" aria-labelledby="tab-3-trigger">
                      Schedule a meeting with Doctor
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              Visit <a href="https://github.com/Johann-S/bs-stepper/#how-to-use-it">bs-stepper documentation</a> for more examples and information about the plugin.
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div>

    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
