<div class="wrapper">
  <!--  <div class="preloader flex-column justify-content-center align-items-center">-->
  <!--    <img class="animation__shake" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">-->
  <!--  </div>-->
  <app-top-nav></app-top-nav>

  <!--  Side Nav-->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/adminArea" class="brand-link">
      <img src="assets/logo.jpg" alt="Aivizo Logo" class="elevation-3" style="height: 67px;">
<!--      <span class="brand-text font-weight-light">Avizo</span>-->
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a routerLink="myProfile" class="d-block">{{ currentUser }}</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link" routerLink="/doctorArea" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
<!--          <li class="nav-item">-->
<!--            <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">-->
<!--              <i class="fas fa-briefcase-medical nav-icon"></i>-->
<!--              <p>Find Doctor</p>-->
<!--            </a>-->
<!--          </li>-->
          <li class="nav-item">
            <a [routerLink]="['profile-settings']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
              <i class="fas fa-id-card nav-icon"></i>
              <p>Profile Settings</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['appointments']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
              <i class="fas fa-clock nav-icon"></i>
              <p>My Appointments</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['calender']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">
              <i class="fas fa-calendar-alt nav-icon"></i>
              <p>My Calender</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>


