:root{
  --main-color: #7857fe;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --black-100: #f3f3f3;
}
.input_err_msg{
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.ng-touched .ng-invalid{
  color: #dc3545;
  border: 1px solid #dc3545;
}

.bg-primary, .btn-primary{
  background-color: #0070c0 !important;
}
.text-primary{
  color: #0070c0 !important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
  background-color: #0070c0 !important;
}
